.undecoratedTextField, .undecoratedTextField:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
}

.hugeButton {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.bigButton {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}